* {
    font-family: Montserrat, Arial, sans-serif;
    font-size: medium;
    color: beige;
    padding: 0;
    margin: 0;
}

html, body {
    background-color: rgb(25, 25, 25);
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    gap: 1em;

    /* Taken from a friend at jordqn.fr (can find it online on other websites) */
    background-image: linear-gradient(rgba(255, 255, 255, 0.007) 2px, transparent 2px),
    linear-gradient(90deg, rgba(255,255,255,0.007) 2px, transparent 1px),
    linear-gradient(rgba(255,255,255,0.007) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.007) 1px, transparent 1px);
    background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.tp-dfwv {
    top: auto !important;
    bottom: 1rem !important;
    left: 1rem !important;
    width: 40% !important;
    overflow: hidden !important;
}

p {
    padding-bottom: 10px;
}

#webgl-canvas {
    width: clamp(0px, 95%, 720px);
    image-rendering: crisp-edges;
    aspect-ratio: (4 / 3);
    align-self: center;
    height: 480px;
    margin: 1rem;
    background-color: rgb(25, 25, 25);
    border: 1px solid white;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: rgba(245, 245, 220, 0.2) 0px 0px 10px 2px inset;
}

.container {
    min-width: 5rem;
    border: 1px solid beige;
    overflow-wrap: break-word;
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
    box-shadow: rgba(245, 245, 220, 0.2) 0px 0px 10px 2px inset;
}

.container:hover {
    box-shadow: rgba(245, 220, 220, 0.5) 0px 0px 10px 2px inset;
    .title {
        text-decoration: underline;
    }
}

.title {
    margin-bottom: 10px;
    font-size: larger;
    font-weight: bold;
    padding: .25em;
}

#error {
    width: clamp(0px, 95%, 720px);
    justify-self: center;
    height: fit-content;
    margin: 0 auto 1em;
    max-width: 50em;
}

@media (max-width: 420px) {

    * {
        font-size: small;
    }

    #webgl-canvas {
        margin: 1em;
        image-rendering: crisp-edges;
        aspect-ratio: auto;
        height: auto;
        max-height: 670px;
        flex: 1 1 auto;
        width: clamp(0px, 95%, 720px);
    }
}
