* {
    font-family: Arial, sans-serif;
    color: beige;
}

body, html {
    background-color: rgb(24, 24, 24);
    flex-direction: column;
    font-size: large;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    height: 100vh;
    width: 100%;
    margin: 0;
    gap: 1em;
}

#webgl-canvas {
    background-color: rgb(24, 24, 24);
    image-rendering: crisp-edges;
    width: 95%;
}

.logs {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.container {
    border: 2px solid beige;
    overflow-wrap: break-word;
    text-align: center;
    overflow: hidden;
    width: 5rem;
}

.title {
    border: 2px solid beige;
    margin: 0;
}

#error {
    width: 95%;
}

@media (max-width: 400px) {
    .logs {
        flex-direction: column;
        gap: 1em;
    }
}